 body {
                background-color: #8BA1BB;
                font-family: Arial;
            }

            p.categorie {
                background-color: black;
                color: white;
                display: inline;
                padding: 6px 12px;
                font-weight: bold;
                font-size: 20px;
            }
            div.contenu {
                background-color: white;
                margin: 40px 8px 40px 8px;
                padding: 0px 8px 20px 8px;
                box-shadow: 0px 0px 10px 10px rgba(0, 0,0 ,0.1);
            }
            .centre {
                text-align: center;
                width: 100%;
            }
            .centre_rec {
                text-align: center;
                width: 100%;
                padding: 6px;
            }
             div.categorie {
                margin-top: 60px;
                margin-bottom: -54px;
            }
            h1 {
                text-align: center;
                margin-bottom: 14px;
                margin-top: 10px;
            }
            p.description {
                text-align: center;
                max-width: 400px;
                display: inline-block;
                font-size: 14px;
            }
            div.separateur {
                background-color: black;
                height: 1px;
                width: 100px;
                margin-left: auto;
                margin-right: auto;
            }
            .info_table{
                position: absolute; 
                bottom: 0; 
                width: 100%;
                color:white; 
                background-color: #6C829DC0;
                height: 50px;
            }
            .info_div{
                position: relative;
            }
            .info_table td{
                text-align: center;
                font-size: 12px;
                vertical-align: top;
            }
            .info_table th{
                font-size: 14px;
                padding-bottom: 8px;
                vertical-align: bottom;
            }

            img.info {
                max-height: 800px;
                display: block;
                object-fit: cover;
                min-height: 200px;
                background-color: gray;
            }

            div.colonne{
                width: 100%;
                margin-top: 20px;
            }

            div.colonne h2{
                text-align: center;
                text-transform: uppercase;
                font-size: 15px;
                border-bottom: 5px solid #6C829D;
                padding-bottom: 5px;
            }

            div.colonne1 {
                display: inline-block;
            }
            
            div.border p{
                text-align: center;
                border: 1px solid #6C829D;
                font-size: 14px;
                border-radius: 2px;
                padding: 4px 0;
                margin-top: 1px;
                margin-bottom: 3px;
            }

            table.preparation p.numero{
                background-color: #8BA1BB;
                color: white;
                width: 25px;
                height: 25px;
                text-align: center;
                font-size: 14px;
                font-weight: bold;
                padding-top: 4px;
                box-sizing: border-box;
                border-radius: 50%;
                margin: 0;
            }

            table.preparation td {
                vertical-align: top;
            }

            table.preparation td.preparation_etape{
                font-size: 14px;
                padding-left: 10px;
                padding-bottom: 10px;
            }

            table.preparation tr {
                height: 40px;
            }

            * {
                overflow: auto;
            }

            /*Sytle ordinateur*/
            @media only screen and (min-width: 768px) {
                div.contenu{
                    min-width: 350px;
                    margin: 0px 10% 80px 10%;
                    padding: 30px;
                }
                    .info_table{
                    height: 80px;
                } 
                .info_table td{
                    font-size: 14px;
                }
                .info_table th{
                    font-size: 16px;
                }
                 div.colonne{
                    width: 45%;
                }

                div.colonne1 {
                    margin-right: 10%;
                }
                div.colonne2 {
                    float: right;
                }
                div.categorie {
                margin-top: 60px;
                margin-bottom: -17px;
            }
            }
            @media only screen and (min-width: 900px) {
                div.contenu{
                   margin-left: auto;
                   margin-right: auto;
                   width: 650px;
                }
            }
            
